vti_encoding:SR|utf8-nl
vti_author:SR|DevNotebook\\tomokowitz
vti_modifiedby:SR|DevNotebook\\tomokowitz
vti_timelastmodified:TW|22 Sep 2016 01:54:19 -0000
vti_timecreated:TR|17 Sep 2016 16:19:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|okowitz1a.htm header.htm TanisHome.htm WhereIsTanis.htm sitemenu.htm
vti_nexttolasttimemodified:TW|22 Sep 2016 01:54:19 -0000
vti_cacheddtm:TX|22 Sep 2016 01:54:19 -0000
vti_filesize:IR|696
