vti_encoding:SR|utf8-nl
vti_author:SR|DevNotebook\\tomokowitz
vti_modifiedby:SR|TWYCANAL\\okowitz
vti_timelastmodified:TR|22 Sep 2016 18:45:24 -0000
vti_timecreated:TR|17 Sep 2016 16:19:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|okowitz1a.htm header.htm Olympic.htm TanisHome.htm AmandaLake.htm McNeilIsland.htm WhereIsTanis.htm sitemenu.htm Dupont.htm
vti_nexttolasttimemodified:TW|22 Sep 2016 18:35:03 -0000
vti_cacheddtm:TX|22 Sep 2016 18:45:24 -0000
vti_filesize:IR|844
